2º Curso/Entorno Servidor/Tarea06/servidorSoap/servicio.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Tarea06.operaciones" targetNamespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php">
  <types>
    <xsd:schema targetNamespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="Tarea06.operacionesPort">
    <operation name="__construct">
      <input message="tns:__constructIn"/>
    </operation>
    <operation name="getPVP">
      <input message="tns:getPVPIn"/>
      <output message="tns:getPVPOut"/>
    </operation>
    <operation name="getStock">
      <input message="tns:getStockIn"/>
      <output message="tns:getStockOut"/>
    </operation>
    <operation name="getFamilia">
      <input message="tns:getFamiliaIn"/>
      <output message="tns:getFamiliaOut"/>
    </operation>
    <operation name="getcodigoFamilia">
      <input message="tns:getcodigoFamiliaIn"/>
      <output message="tns:getcodigoFamiliaOut"/>
    </operation>
  </portType>
  <binding name="Tarea06.operacionesBinding" type="tns:Tarea06.operacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="__construct">
      <soap:operation soapAction="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php#__construct"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getPVP">
      <soap:operation soapAction="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php#getPVP"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getStock">
      <soap:operation soapAction="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php#getStock"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getFamilia">
      <soap:operation soapAction="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php#getFamilia"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getcodigoFamilia">
      <soap:operation soapAction="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php#getcodigoFamilia"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
  </binding>
  <message name="__constructIn"/>
  <message name="getPVPIn">
    <part name="idparam" type="xsd:int"/>
  </message>
  <message name="getPVPOut">
    <part name="return" type="xsd:anyType"/>
  </message>
  <message name="getStockIn">
    <part name="codigoProducto" type="xsd:int"/>
    <part name="codigoTienda" type="xsd:int"/>
  </message>
  <message name="getStockOut">
    <part name="return" type="xsd:anyType"/>
  </message>
  <message name="getFamiliaIn"/>
  <message name="getFamiliaOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <message name="getcodigoFamiliaIn">
    <part name="paramFamilia" type="xsd:string"/>
  </message>
  <message name="getcodigoFamiliaOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <service name="Tarea06.operacionesService">
    <port name="Tarea06.operacionesPort" binding="tns:Tarea06.operacionesBinding">
      <soap:address location="http://localhost/ejerciciosEntornoServidor/Tarea06/servidorSoap/servicioW.php"/>
    </port>
  </service>
</definitions>
